.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  background-color: #ffffff;
  color: #212121;
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

body.modal-open {
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.link {
  display: block;
  text-decoration: none;
  font-style: normal;
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  min-width: 320px;
  padding: 0px 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

.section__heading {
  text-align: center;
  font-weight: 700;
  line-height: 1.16;
  margin-bottom: 30px;
  font-size: 28px;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .section__heading {
    font-size: 36px;
    margin-bottom: 50px;
  }
}

.logo-link {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  color: #2196f3;
}

@media screen and (min-width: 1200px) {
  font-size: 26px;
  line-height: 1.19;
}

.social-list {
  display: flex;
  justify-content: center;
  padding-bottom: 24px;
}

.social-list__link {
  display: flex;
  width: 44px;
  height: 44px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list__link:hover,
.social-list__link :focus {
  background-color: #2196f3;
}

.social-list__image {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list__link:hover .social-list__image,
.social-list__link:hover .social-list__image {
  fill: #ffffff;
}

@media screen and (min-width: 768px) {
  .social-list {
    padding-right: 74px;
    padding-left: 74px;
  }
}

@media screen and (min-width: 1200px) {
  .social-list {
    padding-right: 32px;
    padding-bottom: 30px;
    padding-left: 32px;
  }
}

.main__button {
  border: transparent;
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 200px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  background-color: #2196f3;
  color: #ffffff;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
}

.backdrop {
  position: fixed;
  z-index: 2;
  padding: 93px 15px;
  overflow-y: scroll;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop--is-hidden {
  opacity: 0;
  pointer-events: none;
}

@media screen and (min-width: 768px) {
  padding: initial;
}

.modal {
  margin: auto;
  max-width: 450px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  background-color: #ffffff;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 480px) {
  .modal {
    max-height: 609px;
  }
}

.backdrop--is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.3);
}

.modal__close-button {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  padding: 5px;
  margin-top: 7px;
  margin-right: 8px;
  position: absolute;
}

.modal-form {
  width: 450px;
  padding: 40px;
  text-align: center;
}

.modal-form__paragraph {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  margin-bottom: 12px;
}

@media screen and (min-width: 320px) {
  .modal-form__paragraph {
    max-width: 370px;
  }
}

.modal-form__field {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: #757575;
  text-align: left;
}

.modal-form__field textarea {
  height: 120px;
}

.modal-form__field label {
  margin-bottom: 4px;
}

.modal-form__icon {
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translateY(-12px) translateX(12px);
}

.modal-form__input:focus-within + .modal-form__icon,
.modal-form__input:hover + .modal-form__icon {
  fill: #2196f3;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__input {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  min-height: 40px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  padding: 12px 12px;
  padding-left: 42px;
  outline: none;
}

.modal-form__input:focus-within, .modal-form__input:hover {
  border: 1px solid #2196f3;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__input:last-child {
  padding: 12px 16px;
}

.modal-form__policy-link {
  font-size: 12px;
  line-height: 1.17;
  color: #2196f3;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  display: inline-block;
}

.modal-form__checkbox-field {
  margin-bottom: 30px;
  text-align: initial;
}

.modal-form__checkbox-field label {
  font-size: 12px;
  line-height: 1.17px;
  letter-spacing: 0.03em;
  color: #757575;
}

.modal__close-button {
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__close-button:hover, .modal__close-button:focus {
  fill: #2196f3;
}

.modal-form__policy-label {
  align-items: center;
}

@media screen and (min-width: 480px) {
  .modal-form__policy-label {
    display: flex;
  }
}

.modal-form__policy-label::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 15px;
  margin-right: 7px;
  border: 2px solid #212121;
  border-radius: 4px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 480px) {
  .modal-form__policy-label::before {
    margin-bottom: -3px;
  }
}

.modal-form__policy-field:checked + .modal-form__policy-label::before {
  background-image: url(../images/modal/tick-icon.svg);
  background-color: #2196f3;
  border-color: #2196f3;
}

@media screen and (min-width: 1200px) {
  .modal {
    max-width: 528px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform-origin: top right;
    transform: translate(-50%, -50%) scale(1) rotate(360deg);
  }
  .modal-form {
    width: 528px;
  }
  .modal-form__paragraph {
    width: 448px;
    line-height: 1.15;
  }
  __field {
    font-size: 12px;
    line-height: 1.17;
  }
  __field textarea {
    width: 448px;
    height: 127px;
  }
  __policy-link {
    font-size: 14px;
    line-height: 1.71;
  }
  __checkbox-field label {
    font-size: 14px;
    line-height: 1.71px;
  }
}

.header {
  border-bottom: 1px solid #ececec;
  position: relative;
}

.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  color: #000000;
}

.header__menu-button {
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: none;
  display: inline-flex;
}

.header__menu-button:hover, .header__menu-button:focus {
  fill: #2196f3;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header__menu-button .icon-cross {
  display: none;
}

.header__menu-button.is-open .icon-cross {
  display: block;
}

.header__menu-button.is-open .icon-menu {
  display: none;
}

.logo-link {
  padding-top: 16px;
  padding-bottom: 16px;
}

.site-nav__list {
  display: inline-block;
  text-align: center;
  margin-bottom: 60px;
}

.site-nav__item {
  width: max-content;
  margin: auto;
}

.site-nav__item:not(:last-child) {
  position: relative;
  margin-bottom: 40px;
}

.site-nav__link {
  color: #212121;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav__link:hover, .site-nav__link:focus {
  color: #2196f3;
}

.site-nav__link--current {
  color: #2196f3;
}

.site-nav__link--current::after {
  position: absolute;
  bottom: -8px;
  display: flex;
  content: "";
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  border-radius: 2px;
}

.container__menu {
  text-align: center;
  display: none;
  position: absolute;
  z-index: 1;
  top: 101%;
  left: 0;
  width: 100%;
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}

.container__menu.is-open {
  display: block;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
}

.container__menu .header-address {
  display: inline-block;
}

.container__menu .header-address__list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container__menu .header-address__item:not(:last-child) {
  margin-bottom: 16px;
}

.container__menu .header-address__link {
  display: flex;
  align-items: center;
  color: #757575;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.container__menu .header-address__link:hover, .container__menu .header-address__link:focus {
  color: #2196f3;
}

.container__menu .mail-icon {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: currentColor;
}

.container__menu .tel-icon {
  width: 10px;
  height: 16px;
  margin-right: 10px;
  fill: currentColor;
}

@media screen and (min-width: 768px) {
  .logo-link {
    padding-top: 0;
    padding-bottom: 0;
  }
  .container__menu {
    display: block;
    position: initial;
    display: flex;
    align-items: center;
    margin-left: 88px;
    padding-top: 0;
    padding-bottom: 0;
  }
  .container__menu .header-address {
    margin-left: auto;
  }
  .container__menu .header-address__link {
    font-size: 12px;
    line-height: 1.17;
  }
  .container__menu .header-address__item:not(:last-child) {
    margin-bottom: 10px;
  }
  .container__menu .header-address__list {
    align-items: start;
  }
  .header__menu-button {
    display: none;
  }
  .site-nav__list {
    display: flex;
    margin-bottom: 0;
  }
  .site-nav__item {
    margin: initial;
  }
  .site-nav__item:not(:last-child) {
    margin-right: 50px;
    margin-bottom: 0;
  }
  .site-nav__list {
    padding-top: 0;
    padding-bottom: 0;
  }
  .site-nav__link {
    padding-top: 32px;
    padding-bottom: 32px;
    font-size: 14px;
    line-height: 1.14;
  }
  .site-nav__link--current::after {
    bottom: -1px;
  }
}

@media screen and (min-width: 1200px) {
  .container__menu {
    margin-left: 93px;
  }
  .container__menu .header-address__list {
    flex-direction: initial;
  }
  .container__menu .header-address__link {
    font-size: 14px;
    line-height: 1.14;
  }
  .header-address {
    display: flex;
  }
  .header-address__item {
    margin-right: 30px;
  }
}

.footer {
  margin: 0 auto;
  max-width: 1200px;
  text-align: center;
  background-color: #2f303a;
  padding: 60px 0px;
}

.footer__logo {
  color: #ffffff;
}

.footer .logo-link {
  margin-bottom: 20px;
}

.footer-list__item {
  color: #ffffff;
}

.footer-list__item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-list__link {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  line-height: 1.71;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-list__link.street {
  color: #ffffff;
}

.footer-list__link:hover, .footer-list__link:focus {
  color: #2196f3;
}

.footer-paragraph {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: #ffffff;
}

.footer-box__e-mail {
  line-height: 1.25;
  letter-spacing: 0.03em;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: transparent;
  margin-bottom: 20px;
}

.footer-box__button {
  display: inline-flex;
  align-items: center;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 1px solid transparent;
  padding: 10px 28px;
}

.footer-box__icon {
  margin-left: 10px;
}

.footer-form input[placeholder="E-mail"],
.footer-form input::placeholder {
  font-weight: 400;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.6);
}

.footer-form__paragraph {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.social-box .social-list {
  padding: 0;
  display: inline-flex;
  margin-bottom: 60px;
}

.social-box .social-list .social-list__image {
  fill: #ffffff;
}

.social-list__link {
  background-color: rgba(255, 255, 255, 0.1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list__link:hover, .social-list__link:focus {
  background-color: #2196f3;
}

.social-list__item:not(:last-child) {
  margin-right: 10px;
}

.address-box {
  margin-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .footer__container {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
  }
  .address-box {
    margin-right: 165px;
    padding-left: 76px;
  }
  .footer-box__e-mail {
    display: flex;
    max-width: 450px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 1200px) {
  .footer {
    text-align: initial;
  }
  .footer > .container {
    display: flex;
    align-items: baseline;
  }
  .footer__container {
    flex-wrap: nowrap;
  }
  .footer-box {
    display: flex;
    flex-direction: row;
    align-items: baseline;
  }
  .footer-box__e-mail {
    margin-right: 12px;
    width: 358px;
  }
  .social-box .social-list {
    margin-right: 93px;
  }
  .address-box {
    margin-right: 70px;
  }
}

.hero {
  text-align: center;
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-position: center top;
}

.hero__title {
  margin: auto;
  margin-bottom: 30px;
  color: #ffffff;
  font-weight: 900;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

@media screen and (min-width: 320px) and (max-width: 1200px) {
  .hero {
    padding-top: 118px;
    padding-bottom: 118px;
  }
  .hero__title {
    font-size: 26px;
    line-height: 1.62;
    max-width: 360px;
  }
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/hero-mobile.jpg");
    background-size: 480px 400px;
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 320px) and (max-width: 768px), screen and (min-resolution: 192dpi) and (min-width: 320px) and (max-width: 768px), screen and (min-resolution: 2dppx) and (min-width: 320px) and (max-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/hero-mobile@2x.jpg");
  }
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/hero-tablet.jpg");
    background-size: 768px 400px;
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px), screen and (min-resolution: 192dpi) and (min-width: 768px), screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/hero-tablet@2x.jpg");
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/hero-desktop.jpg");
    background-size: 1600px 600px;
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px), screen and (min-resolution: 192dpi) and (min-width: 1200px), screen and (min-resolution: 2dppx) and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/hero-desktop@2x.jpg");
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
  }
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
    max-width: 696px;
  }
}

.our-features {
  padding-bottom: 0px;
}

.our-features-list__headline {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.our-features-list__paragraph {
  color: #757575;
  font-size: 14px;
  line-height: 1.71;
}

.our-features-list__icon {
  margin-bottom: 30px;
  background-color: #f5f4fa;
  border-radius: 4px;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .our-features-list__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .our-features-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: calc(-1 *30px);
    margin-top: calc(-1 *30px);
  }
  .our-features-list__item {
    margin-left: 30px;
    margin-top: 30px;
    width: calc(100% / 2 - 30px);
  }
}

@media screen and (min-width: 1200px) {
  .our-features-list {
    display: flex;
  }
  .our-features-list__item {
    margin-left: 30px;
    margin-top: 30px;
    width: calc(100% / 4 - 30px);
  }
}

@media screen and (max-width: 1199px) {
  .our-projects {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .our-projects-list {
    display: flex;
  }
  .our-projects-list__image {
    flex-basis: calc(100% / 3);
  }
  .our-projects-list__item {
    position: relative;
  }
  .our-projects-list__item:not(:nth-child(3n)) {
    margin-right: 30px;
  }
  .our-projects-list__headline {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: #ffffff;
    position: absolute;
    bottom: 0;
    background-color: rgba(47, 48, 58, 0.8);
    width: 370px;
    padding-top: 27px;
    padding-bottom: 27px;
    text-align: center;
  }
}

.our-team-list {
  min-width: 290px;
}

.our-team-list__headline {
  text-align: center;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}

.our-team-list__item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: #ffffff;
  margin-bottom: 30px;
}

.our-team-list__image {
  margin-bottom: 30px;
}

.our-team-list__paragraph {
  text-align: center;
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.19;
}

@media screen and (min-width: 768px) {
  .our-team-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: calc(-1 *30px);
    margin-top: calc(-1 *30px);
  }
  .our-team-list__item {
    margin-left: 30px;
    margin-top: 30px;
    width: calc(100% / 2 - 30px);
  }
}

@media screen and (min-width: 1200px) {
  .our-team-list__item {
    width: calc(100% / 4 - 30px);
  }
}

.our-clients-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.our-clients-list__item {
  margin-left: 30px;
  margin-top: 30px;
  width: calc(100% / 2 - 30px);
}

.our-clients-item__link {
  display: flex;
  height: 90px;
  justify-content: center;
  align-items: center;
  color: #afb1b8;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.our-clients-item__link:hover, .our-clients-item__link:focus {
  fill: #2196f3;
  border-color: #2196f3;
}

.our-clients-item__logo {
  display: block;
  fill: currentColor;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.our-clients-item__link:hover .our-clients-item__logo,
.our-clients-item__link:focus .our-clients-item__logo {
  fill: #2196f3;
  border-color: #2196f3;
}

@media screen and (min-width: 768px) {
  .our-clients-list__item {
    width: calc(100% / 3 - 30px);
  }
}

@media screen and (min-width: 1200px) {
  .our-clients-list {
    flex-wrap: nowrap;
  }
}
/*# sourceMappingURL=main.css.map */