// .hero {
//   text-align: center;
//   background-color: #c4c4c4;
//   background-image: linear-gradient(
//       rgba(47, 48, 58, 0.4),
//       rgba(47, 48, 58, 0.4)
//     ),
//     url(../images/hero/hero.jpg);
//   background-repeat: no-repeat;
//   background-size: cover;
//   padding-top: 200px;
//   padding-bottom: 200px;
//   max-width: 1600px;
//   margin: auto;
//   &__title {
//     width: 696px;
//     margin: auto;
//     margin-bottom: $item-list-gap;
//     color: $primary-white-color;
//     font-weight: 900;
//     font-size: 44px;
//     line-height: 1.36;
//     letter-spacing: 0.06em;
//     text-transform: uppercase;
//   }
// }
.hero {
  text-align: center;
  background-color: $primary-white-color;
  background-repeat: no-repeat;
  background-position: center top;
  &__title {
    margin: auto;
    margin-bottom: $item-list-gap;
    color: $primary-white-color;
    font-weight: 900;
    letter-spacing: 0.06em;
    text-transform: uppercase;
  }
}
@media screen and (min-width: 320px) and (max-width: $desktop) {
  .hero {
    padding-top: 118px;
    padding-bottom: 118px;
    &__title {
      font-size: 26px;
      line-height: 1.62;
      max-width: 360px;
    }
  }
}
@media screen and (min-width: 320px) and (max-width: $tablet) {
  .hero {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../images/hero/hero-mobile.jpg");
    background-size: 480px 400px;
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 320px) and (max-width: $tablet),
  screen and (min-resolution: 192dpi) and (min-width: 320px) and (max-width: $tablet),
  screen and (min-resolution: 2dppx) and (min-width: 320px) and (max-width: $tablet) {
  .hero {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../images/hero/hero-mobile@2x.jpg");
  }
}
@media screen and (min-width: $tablet) {
  .hero {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../images/hero/hero-tablet.jpg");
    background-size: 768px 400px;
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: $tablet),
  screen and (min-resolution: 192dpi) and (min-width: $tablet),
  screen and (min-resolution: 2dppx) and (min-width: $tablet) {
  .hero {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../images/hero/hero-tablet@2x.jpg");
  }
}
@media screen and (min-width: $desktop) {
  .hero {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../images/hero/hero-desktop.jpg");
    background-size: 1600px 600px;
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: $desktop),
  screen and (min-resolution: 192dpi) and (min-width: $desktop),
  screen and (min-resolution: 2dppx) and (min-width: $desktop) {
  .hero {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../images/hero/hero-desktop@2x.jpg");
  }
}
@media screen and (min-width: $desktop) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
    &__title {
      font-size: 44px;
      line-height: 1.36;
      max-width: 696px;
    }
  }
}
