// .our-projects-list {
//   display: flex;
//   &__image {
//     // width: 370px;
//     flex-basis: calc(100% / 3);
//   }
//   &__item {
//     position: relative;
//     &:not(:nth-child(3n)) {
//       margin-right: $item-list-gap;
//     }
//   }
//   &__headline {
//     font-weight: 700;
//     font-size: 14px;
//     line-height: 1.14;
//     text-transform: uppercase;
//     color: $primary-white-color;
//     position: absolute;
//     bottom: 0;
//     background-color: rgba(47, 48, 58, 0.8);
//     width: 370px;
//     padding-top: 27px;
//     padding-bottom: 27px;
//     text-align: center;
//   }
// }
@media screen and (max-width: $desktop - 1px) {
  .our-projects {
    display: none;
  }
}
@media screen and (min-width: $desktop) {
  .our-projects-list {
    display: flex;
    &__image {
      // width: 370px;
      flex-basis: calc(100% / 3);
    }
    &__item {
      position: relative;
      &:not(:nth-child(3n)) {
        margin-right: $item-list-gap;
      }
    }
    &__headline {
      font-weight: 700;
      font-size: 14px;
      line-height: 1.14;
      text-transform: uppercase;
      color: $primary-white-color;
      position: absolute;
      bottom: 0;
      background-color: rgba(47, 48, 58, 0.8);
      width: 370px;
      padding-top: 27px;
      padding-bottom: 27px;
      text-align: center;
    }
  }
}
