$primary-black-color: #212121;
$secondary-black-color: #757575;
$primary-white-color: #ffffff;
$accent-color: #2196f3;
$footer-white-color: rgba(255, 255, 255, 0.6);
$icon-color: #afb1b8;

$header-border-color: #ececec;
$portfolio-border-color: #eeeeee;

$secondary-background-color: #f5f4fa;
$footer-background-color: #2f303a;
$footer-social-icon-bg: rgba(255, 255, 255, 0.1);

$transition-time-and-function: 250ms cubic-bezier(0.4, 0, 0.2, 1);

$primary-font: Roboto, sans-serif;
$logo-font: Raleway, sans-serif;

$item-list-gap: 30px;
